@import "./Vars.scss";
@import "./Media.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, a, label {
  font-family: $title-font;
}

p, input {
  font-family: $paragraph-font;
}