@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Muli:ital,wght@0,300;0,400;0,700;1,600&display=swap');

$title-font: 'Lato', serif;
$paragraph-font: 'Muli', sans-serif;
$main-color: #DA4A74;